.menu {
  width: max-content;
  color: var(--secondary-color);
  position: relative;
}

.menu .punctuationPanel,
.timeOptions,
.wordOptions,
.storyOptions {
  overflow: hidden;
  width: 190px;
  white-space: nowrap;
  background-color: var(--active-color);
  transform-origin: right;
  -webkit-transition: width 0.7s ease-out;
  -moz-transition: width 0.7s ease-out;
  -o-transition: width 0.7s ease-out;
  transition: width 0.7s ease-out;
  height: 35px;
  padding: 0 10px;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.menu .punctuationPanel.hidden,
.timeOptions.hidden,
.wordOptions.hidden,
.storyOptions.hidden {
  width: 0px;
  padding: 0;
  display: flex !important;
}

.timeOptions,
.wordOptions,
.storyOptions {
  width: max-content;
  transform-origin: left;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
.timeOptions .custom-box #timeInput,
.wordOptions .custom-box #wordInput {
  width: 0;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  padding: 0;
  color: var(--active-color);
  transform-origin: left;
  -webkit-transition: width 0.7s ease-out;
  -moz-transition: width 0.7s ease-out;
  -o-transition: width 0.7s ease-out;
  transition: width 0.7s ease-out;
}
.timeOptions .custom-box.active #timeInput,
.wordOptions .custom-box.active #wordInput {
  width: 80px;
  padding-left: 10px;
}

.menuPanel {
  background-color: var(--active-color);
  height: 35px;
  padding: 0 10px;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.menuPanel.active {
  border-radius: 0;
}
.menuPanel.active::before,
.menuPanel::after {
  content: "";
  width: 5px;
  height: 20px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}

.menuPanel .text.active,
.timeOptions .text.active,
.wordOptions .text.active,
.storyOptions .text.active,
.punctuationPanel .text.active {
  color: var(--error-color);
  font-weight: bolder;
}
.menuPanel .text,
.timeOptions .text,
.wordOptions .text,
.storyOptions .text,
.punctuationPanel .text {
  cursor: pointer;
}
