.tips-box .inner-box {
  width: 250px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  color: var(--active-color);
  font-family: var(--default-font);
  justify-content: space-between;
}
.tips-box .inner-box .bubble-text {
  padding: var(--common-padding);
}
.tips-box .inner-box .confirm-button {
  background-color: var(--active-color);
  color: var(--secondary-color);
  padding: var(--common-padding);
  border-radius: var(--border-radius);
  width: max-content;
  font-size: 0.8em;
  margin: 5px;
  transition: background 0.4s ease, color 0.4s ease-in;
}
.tips-box .inner-box .confirm-button:hover {
  background: var(--error-color);
  color: var(--secondary-color);
}

.tips-box .inner-box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -10%;
  left: 0;
  right: 0;
  bottom: auto;
  border: 15px solid;
  border-color: transparent transparent transparent var(--secondary-color);
}
