$Lavender: #e6e6fa;
$Lilac: #c8a2c8;
$HotPink: #ff69b4;
$Amethyst: #9966cc;
$Rose: #f7cac9;
$Magenta: #ff00ff;
$Orchid: #da70d6;
$DarkerOrchid: #b55d9c;
$Yellow: #e2b714;
$Font: "Roboto Mono", "Vazirmatn", monospace;

$Poppins: "Poppins", "monospace", monospace;

body {
  background: $Lavender;
}
