$Lavandar: #E6E6FA;
$Lilac: #C8A2C8;
$HotPink: #FF69B4;
$Amethyst : #9966CC;
$Rose: #F7CAC9;
$Magenta: #FF00FF;
$Orchid : #DA70D6;
$DarkerOrchid : #B55D9C;
$Font :"Roboto Mono", "Vazirmatn", monospace;

body {
    background: $Lavandar;
}